google-api-python-client==2.47.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-auth==2.22.0
google-api-core==2.11.1
cachetools==5.3.2
notion-client==2.1.0
python-dotenv==0.19.0
janome==0.5.0
gnews==0.3.6
beautifulsoup4==4.9.3
requests==2.26.0
